  <mat-toolbar >
    <span style="padding-right:10px">
      <mat-icon>mood</mat-icon>
    </span>
    <div>
      Welcome to the Cognitive Services & Bot Framework 体験ハンズオンコーナー
    </div>
    <span style="padding-left:10px">
      <mat-icon>mood</mat-icon>
   </span>
  </mat-toolbar>

<div class="content-body">

  <h2>Cognitive Services & Bot Framework のハンズオンを用意しています。クリックして内容を見てみましょう♪</h2>

  <mat-card>
    <a target="_blank" rel="noopener" href="http://www.buildinsider.net/small/cognitiveservices/01">
      <mat-card-title>これから始める人のための最新 <br>Cognitive Services入門</mat-card-title>
      <mat-card-subtitle>全体像を紹介！概要を知りたい方向けの記事</mat-card-subtitle>
      <img mat-card-image src="assets\cog-overview.PNG">
    </a>
  </mat-card>

  <mat-card>
    <a target="_blank" rel="noopener" href="http://www.buildinsider.net/small/cognitiveservices/01">
      <mat-card-title>Emotion API × C# <br>ハンズオン</mat-card-title>
      <mat-card-subtitle>Cognitive Services を使った表情分析 Web アプリ作成ハンズオン！</mat-card-subtitle>

      <img mat-card-image src="assets\emotion-handson.PNG">
    </a>
  </mat-card>

  <mat-card>
    <a target="_blank" rel="noopener" href="https://qiita.com/annie/items/c9a8b83234dd869912c9">
      <mat-card-title>Emotion API × Bot Framework <br>ハンズオン</mat-card-title>
      <mat-card-subtitle>Emotion API × C# ハンズオンで作成したアプリを使ってチャットボットを作成するハンズオン</mat-card-subtitle>
      <img mat-card-image src="assets\bot-handson.PNG">
    </a>
  </mat-card>

   <mat-card>
     <a target="_blank" rel="noopener" href="https://qiita.com/annie/items/293525901020685ad5f6">
       <mat-card-title>Custom Vision Service <br>ハンズオン</mat-card-title>
       <mat-card-subtitle>Custom Vision Service を使って食べ物の画像分類器を作成するハンズオン</mat-card-subtitle>
       <img mat-card-image src="assets\customvision-handson.PNG">
       </a>
   </mat-card>

    <mat-card>
      <a target="_blank" rel="noopener" href="https://qiita.com/annie/items/bd232f67e06c83586ca5#_reference-5c15ca52e33f9f84f288">
        <mat-card-title>Custom Vision Service x Bot Framework <br>ハンズオン</mat-card-title>
        <mat-card-subtitle>Custom Vision Service ハンズオンで作った食べ物の画像分類器を使ってチャットボット作成するハンズオン</mat-card-subtitle>
        <img mat-card-image src="assets\customvision-bot-handson.PNG">
      </a>
    </mat-card>

    <mat-card>
      <a target="_blank" rel="noopener" href="https://qiita.com/annie/items/bd232f67e06c83586ca5#_reference-5c15ca52e33f9f84f288">
        <mat-card-title>QnA Maker<br>ハンズオン</mat-card-title>
        <mat-card-subtitle>FAQの回答をするチャットボットエンジンをノンコーディングで作成するハンズオン</mat-card-subtitle>
        <img mat-card-image src="assets\qna-handson.PNG">
      </a>
    </mat-card>
</div>




